<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/book', user: @user, book: @book %>

      <% unless @user.id == current_user.id %>

        <% if @isRoom == true %>
          <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">chatへ</a>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit "chatを始める", class:"btn btn-primary btn-lg user-show-chat"%>
          <% end %>
        <% end %>

      <% end %>

    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <%= render 'books/index', books: @books %>
    </div>
  </div>
</div>