<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/book', user: @user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <%= render 'books/index', books: @books %>
      <h3>7日間分の投稿数</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>6日前</th>
            <th>5日前</th>
            <th>4日前</th>
            <th>3日前</th>
            <th>2日前</th>
            <th>1日前</th>
            <th>今日</th>
          </tr>
        </thead>
      　<tbody>
          <tr>
            <td><%= @six_days_ago_book.count %></td>
            <td><%= @five_days_ago_book.count %></td>
            <td><%= @four_days_ago_book.count %></td>
            <td><%= @three_days_ago_book.count %></td>
            <td><%= @two_days_ago_book.count %></td>
            <td><%= @yesterday_book.count %></td>
            <td><%= @today_book.count %></td>
          </tr>
      　</tbody>
      </table>
    </div>
  </div>
</div>