<h2><strong><a href="/users/<%= current_user.id %>"><%= current_user.name %>さん</a>とのチャット</strong></h2>

<hr>
<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div><%= m.user.name %> : <strong><%= m.message %></strong>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_for @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力してください", size: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "投稿", class: 'form-submit' %>
      <% end %>
  </div>
</div>